* {
  font-family: 'verdana', -agent-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.flex-row{
  display: flex;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* paragraphs and text blocks */
p {
  margin-top: 0;
}
ul{
  list-style: none;
}
ul > li{
  margin-bottom: 1em;
}

/* buttons */
button {
  background: #004f11;
  border: 1px solid #004f11;
  border-radius: 45px;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 45px;
  padding: 0.25rem;
  width: 80%;
  transition: all .4s ease-in-out;
}
button:hover{
  cursor: pointer;
  background: #003b0d;
}
.c-container{
  display: flex;
  justify-content: space-evenly;
}
.c-btn{
  background-color: #fff;
  border: 3px solid #004f11;
  border: 1px solid #003b0d;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
  border-radius: 100%;
  color: #39393a !important;
  display: inline-block;
  line-height: 1;
  transition: box-shadow 0.3s ease;
  height: 30px;
  width: 30px;
  z-index: 0;
}

/* cards */
.card-container{
  display: flex;
  column-gap: 25px;
}
.card{
  display: flex;
  flex-direction: column;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
}
.card > h1{
  margin-top: .25em;
}

/* header logo */
.heading-logo{
  height: 125px;
}

/* mods */
.mt-1{
  margin-top: 1em;
}

.p-0{
  padding: 0;
}

.g-15{
  column-gap: 15px;
}
.center{
  justify-content: center;
}
.middle{
  align-items: center;
}

/* carousel */
#root img {
  height: 287px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
}

#root p {
  margin-top: 1.5em;
  width: 400px;
  height: 175px;
}

#counter > * {
  border-radius: 50%;
  border: 1px solid #003b0d;
  background-color: #fff;
  width: 25px;
  height: 25px;
  margin-left: 2px;
  margin-right: 2px;
}
#counter .active {
  background-color: #003b0d;
  border: 5px solid #003b0d;
}


@media screen and (max-width: 1600px) {
  .card-container {
    display: inline-block;
  }
  #root img {
    height: 200px;
  }
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}
@media screen and (max-width: 2200px) {

}