* {
  font-family: 'Montserrat', 'verdana', -agent-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.flex-row{
  display: flex;
}
/* Column System */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* paragraphs and text blocks */
p {
  margin-top: 0;
}
ul > li{
  margin-bottom: 1em;
}
/* backgrounds */
#bg{
  background-image: url(../assets/graphics/imgs/house-bg.jpg);
}
/* buttons */
button {
  background: #004f11 !important;
  border: none;
  border-radius: 7px;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 45px;
  padding: 0.25rem;
  width: 8em;
  transition: all .4s ease-in-out;
}
button:hover{
  cursor: pointer;
}
.c-container{
  display: flex;
  justify-content: space-evenly;
}
.c-btn{
  background-color: rgba(255, 255, 255, 0.594) !important;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
  border-radius: 100%;
  border: 0px;
  color: #39393a !important;
  display: inline-block;
  font-size: 10px;
  line-height: 1;
  transition: all 0.3s ease;
  text-align: center;
  height: 30px;
  width: 30px;
  z-index: 0;
}
.c-btn:hover{
  background-color: #ffffffe1;
}

/* cards */
.card, .card-container {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
}
.card-container{
  column-gap: 25px;
}
.card{
  background-color: #ffffff;
  border-radius: 3%;
  flex-direction: column;
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
  padding-bottom: 3em;
}

.card > .flex-row {
  margin-top: 1em;
}

.card > h1{
  margin-top: .25em;
}

.card-icon{
  height: 30px;
}

/* header logo */
.heading-logo{
  height: 125px;
}

/* mods */
.mt-1{
  margin-top: 1em;
}

.p-0{
  padding: 0;
}

.g-15{
  column-gap: 15px;
}
.center{
  justify-content: center;
}
.middle{
  align-items: center;
}

/* carousel */
.image-holder {
  position: relative;
}
.space-between {
  justify-content: space-between;
}
img[id^='carousel-img-'] {
  width: 100%;
  height: auto;
}

/* .image-holder .next {
  top: 50%;
  left: 88%;
}

.image-holder .prev {
  top: 50%;
  left: 2%;
} */

.pos-abs, #counter {
  position: absolute;
}
#arrows {
  width: 100%;
  bottom: 5px;
  left: 0;
}
#root img {
  /* height: 287px; */
  /* width: 100%; */
  /* max-width: 400px; */
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgb(64 64 64 / 9%);
}

#root p {
  margin-top: 3em;
  width: 400px;
  height: 175px;
}

#carousel-reviews {
  padding: 1em;
}

#counter {
  bottom: 2%;
  left: 30%;
  right: 30%;
  padding-bottom: .25em;
}

#counter > * {
  background-color: #ffffffb6;
  width: 10px;
  height: 10px;
  margin-left: 2px;
  margin-right: 2px;
}
#counter .active {
  background-color: #ffffff;
}


@media screen and (max-width: 1250px) {
  button{
    width: 60%;
  }
  .card-container {
    display: inline-block;
  }
  h1, p{
    text-align: center;
  }
  /* #root img {
    height: 200px;
  } */
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}
/* @media screen and (max-width: 2200px) {

} */